<h1 class="display-4 text-center m-5"> Test technique Imperiatec </h1>
<p class="mb-4 text-center m-4">C'est une application Sails.js pour la gestion des arrivées avec la base de données MongoDB</p>
<div class="text-center">
  <a href="/arrivee/connect" class="btn btn-light ">Se connecter</a>
  <a href="/arrivee/signup" class="btn btn-light">S'inscrire</a>
</div>