<h1 class="text-center">Se connecter</h1>
<p class="text-justify text-center">Pour se connecter il faut utiliser les identifiants suivants:</p>
  <h5 class="text-center">Email: test</h5>
  <h5 class="text-center">Mot de passe: motdepasse</h5>
</p>
  <form class="display-4 text-center m-5 " method="POST" action="/login">
  <input  class="form-control m-4" type="text" name="email" placeholder="Email">
  <input  class="form-control m-4" type="password" name="password" placeholder="Password">
  <input class="btn btn-primary" type="submit" value="Se connecter">
</form>

