<h1 class="text-center">S'enregistrer</h1>
<form class="display-4 text-center m-5" method="POST" action="/signup">
  <input class="form-control m-4" type="email" name="email" placeholder="Email Address">
  <input class="form-control m-4"type="password" name="password" placeholder="Password">
  <input class="btn btn-primary" type="submit" value="S'enregistrer">
</form>