<h1 class="display-4 text-center m-5"> Test technique Imperiatec </h1>
<p class="mb-4 text-center m-4">C'est une application Sails.js pour la gestion des arrivées avec la base de données MongoDB</p>
<div class="text-center">
  <a href="/arrivee/list" class="btn btn-dark ">Voir la liste</a>
  <a href="/arrivee/add" class="btn btn-dark">Ajouter une arrivée</a>
</div>
<p class="mb-4 text-center m-4">Il y a une erreur que je ne suis pas parvenue à résoudre et qui ne me permet pas de récuperer la liste des arrivees.</p>
<p class="mb-4 text-center m-4">Néanmoins, la page et les boutons y sont réalisés.</p>
<p class="mb-4 text-center m-4">L'ajout d'arrivées fonctionne correctement.</p>
